<!DOCTYPE html>
{% extends "recipe/base.html" %} {% block title %} Homepage {%endblock%}
<!--  -->
{%block content %}
<section class="hero">
  {% if user.is_authenticated %}
  <h1>Welcome back {{user.username}}</h1>
  <p>
    Here you will find a thoughtful collection of recipes for every occasion,
    tested and loved by home cooks!
  </p>
  <a href="{%url 'recipes'%}" class="cta-button">Browse Recipes</a>

  {% else %}

  <h1>Welcome to Recipe App</h1>
  <p>
    Here you will find a thoughtful collection of recipes for every occasion,
    tested and loved by home cooks!
  </p>
  <a href="{%url 'login'%}" class="cta-button">Login to start exploring</a>
  {%endif%}
</section>

<div class="divider"></div>
<section class="popular-recipes">
  {% if user.is_authenticated %}
  <h2>Popular Recipes</h2>
  <div class="recipe-grid">
    {% for recipe in page_obj %}
    <a href="{% url 'recipe_details' recipe.id %}" class="recipe-card">
      <div class="recipe-img">
        {% if recipe.pic %}
        <img src="{{ recipe.pic.url }}" alt="{{ recipe.title }}" />
        {% else %} 🍽️ {% endif %}
      </div>
      <div class="recipe-info">
        <h3>{{ recipe.name }}</h3>
        <!-- <p>{{ recipe.method|truncatewords:15 }}</p> -->
        <span class="btn-primary">View Recipe</span>
      </div>
    </a>
    {% empty %}
    <p style="grid-column: 1/-1; text-align: center; color: #999">
      No recipes yet. Start by adding your first recipe!
    </p>
    {% endfor %} {% endif %}
  </div>

  <!-- Pagination controls -->
  <div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="btn-primary"
      >Prev</a
    >
    {% endif %}

    <span class="page-info">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn-primary">Next</a>
    {% endif %}
  </div>
</section>
{%endblock%}
