<!DOCTYPE html>
{% extends "recipe/base.html" %} {% block title %} Add Recipe {%endblock%}
<!--  -->
{%block content %}
<!-- Search Section -->
<section class="search-section">
  <div class="search-container">
    <h1>Add a new Recipe</h1>
    <div class="divider"></div>

    <form
      method="post"
      enctype="multipart/form-data"
      class="search-form"
      id="searchForm"
    >
      {% csrf_token %}
      <div class="search-grid">
        <div class="form-group">
          <label for="{{ form.name.id_for_label }}">Recipe Name</label>
          {{ form.name }} {{ form.name.errors }}
        </div>

        <div class="form-group">
          <label for="{{ form.ingredients.id_for_label }}">Ingredients</label>
          {{ form.ingredients }} {{ form.ingredients.errors }}
        </div>

        <div class="form-group">
          <label for="{{ form.cooking_time.id_for_label }}"
            >Cooking Time (minutes)</label
          >
          {{ form.cooking_time }} {{ form.cooking_time.errors }}
        </div>

        <div class="form-group">
          <label for="{{ form.method.id_for_label }}">Method</label>
          {{ form.method}} {{ form.method.errors }}
        </div>

        <div class="form-group">
          <label for="{{ form.image.id_for_label }}">Image</label>
          {{ form.image }} {{ form.image.errors }}
        </div>
      </div>

      <button type="submit" class="btn-submit search-btn">Save Recipe</button>
    </form>
  </div>
</section>
{% endblock %}
